@page "/"
@using MidcoNetWorth.Data

<PageTitle>Net Worth Calculator</PageTitle>

<h1>Midco Net Worth Calculator</h1>

<Table tableData="assetsTable"/>


@code {
    public TableData assetsTable = new TableData(
            new TableHeading("Assets", "Current Value"),
            new List<TableSectionData>()
            {
                new TableSectionData("Cash and cash equivalents")
            }
        );

    TableData liabilitiesTable = new TableData(
            new TableHeading("Liabilities", "Current amount due"),
            new List<TableSectionData>()
            {
                new TableSectionData("Current"),
                new TableSectionData("Long-term"),
            }
        );
}

